.btnRadio-wrapper {
    display: flex;
}

.btnRadio {
    height: 46px;

    &:not(:last-child) {
        margin-right: 12px;
    }

    &_input {
        display: none;
    }

    &_label {
        @include basicBtn;
        display: flex;
        align-items: center;
        background: $greyBackground;
        height: 100%;       

        &:hover {
            background: $greyHover;
        }
    }

}

.btnRadio input:checked+label {
    background: $black;
    color: $white;
}