.btn {
    @include basicBtn;
    
    font-size: 14px;
    height: 46px;
    font-weight: 500;
    color: $black;
    border: none;
    outline: none;


    &-primary {
        color: #fff;
        background: $primary;

        &:hover,
        &:focus {
            background: $greyHover;
        }
    }

    &-secondary {
        background: transparent;
        border: 1px solid $secondary;

        &:hover,
        &:focus {
            background: $secondary;
        }
    }

    &-light {
        background: $light;

        &:hover,
        &:focus {
            background: $greyBackground;
        }
    }


    &-small {
        height: 42px;
        padding: 12px 0;
    }

    &-medium {
        height: 48px;
        font-size: 16px;
    }

    &-large {
        height: 52px;
        font-size: 16px;
    }

    &-full-width {
        display: block;
        width: 100%;
        max-width: 100%;
    }
}


