@mixin basicBtn {     
    padding: 0 24px;
    border-radius: 62px;
    cursor: pointer;
    transition: $transition;
    display: inline-block;
}


@mixin inputIcon {
    content: "";        
        position: absolute;        
        top: 12px;
        left: 16px;
        height: 24px;
        width: 24px;
        z-index: 1;
        
}

