// Color project
$black: #000;
$greyBackground: #F0F0F0;
$greyText: #666;
$greyBorder: #e5e5e5;
$greyHover: #363333;
$white: #fff;


$primary:$black;
$secondary:$greyBorder;
$light:$white;


// Animation
$transition: 0.3s;